Defining Functions

Define a function with no arguments and no return values:

In [6]:
def hello():
    print('hiii')

In [8]:
# call the function
hello()

hiii

Define a function with one argument and no return values:

In [14]:
def hello(x):
    print(x)

In [16]:
print(3)

3

In [18]:
# prints 3, but doesn't assign 3 to n because the function has no return statement
n=hello(3)

3

Define a function with one argument and one return value:

In [22]:
def hello():
    return x**2

In [31]:
# include an optional docstring to describe the effect of a function
def hello(x):
    """Return Square of a number"""
    return x**2

In [34]:
hello(3)

9

In [36]:
var=hello(3)

Define a function with two 'positional arguments' (no default values) and one 'keyword argument' (has a default value):

In [57]:
def calc(a,b, c='add'):
    if c=='add':
        return a+b
    elif c=='sub':
        return a-b
    else:
        print('valid operations are add and sub')

In [59]:
calc(10,20, 'add')

30

In [49]:
calc(20,30,'sub')

-10

In [51]:
calc(60,80)

140

In [61]:
calc(10,40,'div')

valid operations are add and sub

Use pass as a placeholder if you haven't written the function body:

In [64]:
def stub():
    pass

Return two values from a single function:

In [68]:
def min_max():
    return min(),max()

In [89]:
def min_max(num):
    return min(num) ,max(num)

In [91]:
min_max('20')

('0', '2')

In [94]:
# return values can be assigned to a single variable as a tuple
nums = [1, 2, 3]
min_max_num = min_max(num)
min_max_num

(1, 4)

In [96]:
# return values can be assigned into multiple variables using tuple unpacking
min_num,max_num=min_max(num)
print(min_num,max_num)

1 4

In [107]:
# A simple Python function to check 
# whether x is even or odd 
def evenOdd(x):
    if (x%2==0):
        print('even')
    else:
        print('odd')

In [109]:
evenOdd(2)

even

In [122]:
def myfun(x):
    x[0]='2'
list=[10,20,30,40]
myfun(list);
print(list)

['2', 20, 30, 40]

In [132]:
def swap(x,y):
    temp=x;
    x=y;
    y=temp;
    
    x='10'
    y='20'
    swap(x,y)
    print(x)
    print(y)

In [125]:
swap(10,20)