List properties: ordered, iterable, mutable, can contain multiple data types

In [3]:
# create an empty list (two ways
empty_List=[]
empty_List=list()

In [7]:
# create a list
basu=['yash','yuvan','pattanashetti']
basu

['yash', 'yuvan', 'pattanashetti']

Examine a list:

In [9]:
# print element 0

basu[0]

'yash'

In [11]:
len(basu)

3

Modify a list (does not return the list):

In [14]:
basu.append('gm')
basu

['yash', 'yuvan', 'pattanashetti', 'gm', 'gm', 'gm']

In [20]:
# append multiple elements to end
basu.append(['pm','y2b'])
basu

['yash',
 'yuvan',
 'pattanashetti',
 'gm',
 'gm',
 'gm',
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 ['pm', 'y2b']]

In [24]:
# append multiple elements to end
basu.extend(['pm','y2b','yashu'])
basu

['yash',
 'yuvan',
 'pattanashetti',
 'gm',
 'gm',
 'gm',
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 'pm',
 'y2b',
 'pm',
 'y2b',
 'yashu',
 'pm',
 'y2b',
 'yashu',
 'pm',
 'y2b',
 'yashu']

In [32]:
# insert element at index 0 (shifts everything right)
basu.insert(1,'b2y')
basu

['yash',
 'b2y',
 'b2y',
 'b2y',
 'yuvan',
 'pattanashetti',
 'gm',
 'gm',
 'gm',
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 'pm',
 'pm',
 'yashu',
 'pm',
 'yashu',
 'pm',
 'yashu']

In [36]:
# search for first instance and remove it
basu.remove('yashu')
basu

['yash',
 'b2y',
 'b2y',
 'b2y',
 'yuvan',
 'pattanashetti',
 'gm',
 'gm',
 'gm',
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 'pm',
 'pm',
 'pm',
 'pm']

In [46]:
# remove element 0 and return it
basu.pop(0)
basu

['gm',
 'gm',
 'gm',
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 'pm',
 'pm',
 'pm',
 'pm']

In [49]:
del basu[0]
basu

[['pm', 'y2b'],
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 'pm',
 'pm',
 'pm',
 'pm']

In [57]:
basu[0]='yashas'
basu

['yashas', ['pm', 'y2b'], ['pm', 'y2b'], ['pm', 'y2b'], 'pm', 'pm', 'pm', 'pm']

In [62]:
basu[3]='y2b'
basu

['yashas', ['pm', 'y2b'], ['pm', 'y2b'], 'y2b', 'pm', 'pm', 'pm', 'pm']

In [71]:
# concatenate lists (slower than 'extend' method)
yuv = basu + ['ned', 'rod', 'todd']
yuv

['yashas',
 ['pm', 'y2b'],
 ['pm', 'y2b'],
 'y2b',
 'pm',
 'pm',
 'pm',
 'pm',
 'ned',
 'rod',
 'todd']

Find elements in a list:

In [89]:
# counts the number of instances
basu.count('pm')
basu

['yashas', ['pm', 'y2b'], ['pm', 'y2b'], 'y2b', 'pm', 'pm', 'pm', 'pm']

In [90]:
basu.index('yashas')

0

List Slicing

In [98]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']
weekdays

['mon', 'tues', 'wed', 'thurs', 'fri']

In [100]:
weekdays[0]

'mon'

In [103]:
weekdays[2:3]

['wed']

In [105]:
weekdays[:3]

['mon', 'tues', 'wed']

In [107]:
weekdays[3:]

['thurs', 'fri']

In [109]:
weekdays[-1]

'fri'

In [119]:
# every 2nd element (step by 2)
weekdays[::3]

['mon', 'thurs']

In [129]:
# backwards (step by -1)
weekdays[::-3]

['fri', 'tues']

In [130]:
# alternative method for returning the list backwards
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

Sort a list in place (modifies but does not return the list):

In [154]:
yuvan=['yu','hu','gu','ju','lu','ku']
yuvan

yuvan.sort()
yuvan

['gu', 'hu', 'ju', 'ku', 'lu', 'yu']

In [156]:
yuvan.sort(reverse=True)
yuvan

['yu', 'lu', 'ku', 'ju', 'hu', 'gu']

In [158]:
# sort by a key
yuvan.sort(key=len)
yuvan

['yu', 'lu', 'ku', 'ju', 'hu', 'gu']

Return a sorted list (does not modify the original list):

In [160]:
sorted(yuvan)

['gu', 'hu', 'ju', 'ku', 'lu', 'yu']

In [162]:
sorted(yuvan ,reverse=True)

['yu', 'lu', 'ku', 'ju', 'hu', 'gu']

In [165]:
sorted(yuvan, key=len)

['yu', 'lu', 'ku', 'ju', 'hu', 'gu']

Insert into an already sorted list, and keep it sorted:

In [169]:
num=[10,20,30,40,50,60,70,80,90]
from bisect import insort
insort(num,45)
num

[10, 20, 30, 40, 45, 50, 60, 70, 80, 90]

Object references and copies:

In [171]:
# create a second reference to the same list
same_num=num

In [176]:
same_num[0]=55
print(same_num)
print(num)

[55, 20, 30, 40, 45, 50, 60, 70, 80, 90]
[55, 20, 30, 40, 45, 50, 60, 70, 80, 90]

In [181]:
# copy a list (two ways)
new=num[:]
new=list(num)
new

[55, 20, 30, 40, 45, 50, 60, 70, 80, 90]